.input-box {
    padding: 10px;
    font-size: 20px;
    /* if first font not availlable, defaults to sans serif*/
    font-family: "Gill Sans MT", sans-serif;
    align-items: center;
    cursor: pointer;
    width: 200px;
    height: 10px;
    border: 0px;
    color: black;
    background: url("../Resources/Other/InputBox.png");
    background-size: 100% 100%;
}
  